.app {
  background-color: #282c34;
  color: white;
  font-family: Roboto Slab;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
}

.app-link {
  color: #61dafb;
}

.clock {
  
}

.clock-date {
  text-align: center;
  font-family: Goldman;
}

.clock-time {
  text-align: center;
  font-family: Major Mono Display;
  line-height: 0.7;
  font-size: calc(50px + 2vmin);
}
