@font-face {
  font-family: 'Digital-7';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/digital-7.mono.ttf') format('truetype')
}

@font-face {
  font-family: 'Goldman';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Goldman-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Audiowide-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/RobotoSlab-VariableFont_wght.ttf') format('truetype')
}

.app {
  /*background-color: #282c34;*/
  color: white;
  font-family: Roboto Slab;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.font-size-1-25 {
  font-size: 1.25rem;
}

.font-size-1-5 {
  font-size: 1.5rem;
}

.font-size-2 {
  font-size: 2rem;
}

.discreet {
  color: #888;
}

.app-link {
  color: #61dafb;
}

.weather-summary {
  line-height: 3rem;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 4rem;
  border: #454d55 2px solid;
  border-radius: .25rem;
}

.weather-summary > .weather-icon {
  margin: 0 auto;
  height: 40%;
  width: 45%;
}

.weather-summary > .weather-icon > svg {
  margin-top: 2rem;
}

.weather-table-icon-sm {
  height: 3rem;
}

.filter-white {
  filter: brightness(0) invert(1);
}

.filter-black {
  filter: brightness(0);
}

.temperature {
  font-family: Audiowide;
}

.text-magenta {
  color: #ff6edd;
}

.bg-magenta {
  background-color: #ff6edd;
}

.text-blue {
  color: #61dafb;
}

.bg-blue {
  background-color: #61dafb;
}

.text-purple {
  color: #9f599a;
}

.bg-purple {
  background-color: #9f599a;
}

.clock {
  text-align: center;
  font-size: 1rem;
}

.clock-date {
  font-family: Goldman;
  font-size: 1.5rem;
}

.clock-time {
  position: relative;
  z-index: 100;
  font-family: Digital-7;
  line-height: 0.7;
  font-size: 8rem;
  color: #61dafb;
  text-shadow: 0 0 .75rem #61dafb;
}

.clock-time-shadow {
  font-family: Digital-7;
  line-height: 0.7;
  font-size: 8rem;
  color: rgba(97, 218, 251, .125);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.clock-names {
  padding-top: 0.7rem;
}

.sl-next-departures > table > tbody > tr:first-of-type {
  font-weight: bold;
  box-shadow: none;
  background-color: #17a2b8;
}

.sl-next-departures > table > tbody > tr.imminent {
  animation: next-departure-blinker 2s step-start infinite;
}

.transport-mode-icon {
  filter: 
    drop-shadow(-1px -1px 0 rgba(0, 0, 0, .5))
    drop-shadow(-1px 1px 0 rgba(0, 0, 0, .5))
    drop-shadow(1px -1px 0 rgba(0, 0, 0, .5))
    drop-shadow(1px 1px 0 rgba(0, 0, 0, .5));
}

@keyframes next-departure-blinker {
  50% {
    background-color: #61dafb;
    box-shadow: 0 0 .75rem #61dafb;
  }
}

.sl-next-departures > .table {
  font-size: 1.4rem;
}

table {
  border-collapse: inherit;
  border-spacing: 0px;
}

.sl-deviations-row td {
  border: #454d55 3px solid;
}

.sl-deviations-row td:first-child {
  border-radius: .25rem 0 0 .25rem;
  border-right-style: none;
}

.sl-deviations-row td:last-child {
  border-radius: 0 .25rem .25rem 0;
  border-left-style: none;
}

.sl-disruptions-header {
  line-height: 0.75rem;
  padding-top: 0.4rem !important;
  height: 4rem;
}

.td {
  background-color: #282c34;
}

.custom-border-dark {
  border-color: #454d55 !important;
}

.no-border-radius {
  border-radius: 0;
}

.searchbar {
  padding-top: 8rem;
}

a {
  color: #ff6edd;
}

a:hover {
  color: #9f599a;
}

.nav-pills .nav-link {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: #454d55 1px solid;
}

.nav-pills .nav-link.active {
  background-color: #ff6edd;
}

.navbar-dark .navbar-nav .nav-link {
  border: #454d55 2px solid;
  border-radius: .25rem;
  width: 4.25rem;
  height: 4.25rem;
  text-align: center;
}

button.btn {
  border: #454d55 3px solid;
  border-radius: .25rem;
}
